.experience {
  background-color: #0c0f17;
  color: white;
  text-align: center;
  padding: 30px;
}

.experience-box {
  border: 1px solid #024e9e;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}
