.hero {
  background: linear-gradient(to bottom, #00337c, #005b9c);
  color: white;
  text-align: center;
  padding: 50px;
}

.content h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.content h2 {
  font-size: 36px;
  font-weight: bold;
}

.buttons button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.linkedin {
  background-color: #0a66c2;
  color: white;
}

.github {
  background-color: #333;
  color: white;
}
