.skills {
  background-color: #0f1a28;
  color: white;
  text-align: center;
  padding: 30px;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-box {
  background-color: #024e9e;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
}
